@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* font-family: 'Goldman', cursive; */
/* font-family: 'Turret Road', cursive; */
/* font-family: 'Bungee Inline', cursive; */
/* font-family: 'Audiowide', cursive; */
/* font-family: 'Gruppo', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontSizeH1: 28px;
    --fontSizeH2: 118px;
    --fontSizeH3: 24px;
    --fontSizeP: 14px;
}

body {
    font-family: 'Goldman', cursive;
    max-width: 100%;
    overflow-x: hidden;
    transition: 1s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    left: 0;
}

div.attachmendFixedCallButton {
    position: fixed;
    bottom: 5%;
    right: 7%;
    z-index: 21;
    width: 10vh;
    height: 10vh;
}

div.attachmendFixedCallButton a i {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    font-size: 1.3rem;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
}

.attachmendFixedCallButton.active {
    display: none;
}

/* //burger */
svg {
    position: absolute;
    top: 0%;
    right: 0%;
    max-height: 80px;
    max-width: 80px;
}

.eburger {
    filter: url(#gooeyness);
}

.xSVG {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

@keyframes navArrow {
    1% {
        transform: rotate(-10deg);
    }

    4% {
        transform: rotate(10deg);
    }

    6% {
        transform: rotate(-10deg);
    }

    7% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.xSVG .line {
    stroke-width: 5.5px;
    animation: navArrow 4s infinite ease-out;
}

.plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
}

.plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
}

.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}

.active .xSVG {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.burger {
    position: fixed;
    top: 3%;
    right: 3%;
    cursor: pointer;
    z-index: 20;
    transition: .2s ease-out;
    text-decoration: none;
}

nav {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;
    transition: .2s linear;
    z-index: 15;
    background: radial-gradient(rgb(133, 123, 123) 0%, #b1b9b9 100%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: hidden;
}

nav ul {
    list-style: none;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: -100%;
    left: 2%;
    animation: ulAfterBotLeft 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulAfterBotLeft {
    30% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

nav::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 2%;
    animation: ulBeforeBotRight 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulBeforeBotRight {
    30% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}


nav ul li {
    margin-top: 5vh;
}

nav ul li:first-child {
    margin-top: 0;
}

nav ul li a {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
    padding: 2vh 0;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    cursor: pointer;
    transition: .2s;
    z-index: 15;
    border: 1px solid white;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    border: 2px solid yellow;
    background-color: rgb(94, 94, 94);
    box-shadow: 0 0 0 3px black, 0 0 0 6px yellow;
}

nav ul li a i {
    margin-right: 20px;
}

nav.off {
    top: 200%;
}

header {
    /* margin-top: 25%; */
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: white;
    text-transform: uppercase;
}

header img {
    width: 50%;
    position: absolute;
    top: 7%;
    left: 7%;
    /* background-color: rgba(0, 0, 0, .3); */
}

header .blackBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: rgba(0, 0, 0, .3);
}

header video {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header .headerMAINinfo {
    top: 30%;
    left: 5%;
    right: 5%;
    position: absolute;
}

/* slogan remonty nieruchomosci */
header .headerMAINinfo p {
    font-size: 14px;
    font-family: 'Gruppo', cursive;
    letter-spacing: 1.5px;
}

/* jackowiak wiktor */
header .headerMAINinfo h2 {
    font-size: 19px;
}

/* WX WITEX */
header .headerMAINinfo h1 {
    font-size: 48px;
    font-family: 'Turret Road', cursive;
    font-weight: 200;
}

/* specjalista od wykonczen */
header .headerMAINinfo h3 {
    font-size: 11px;
}

/* skontaktuj sie by zarezerowwac termin */
header .headerContact {
    position: absolute;
    top: 60%;
    left: 4%;
    right: 4%;
    font-size: 16x;
    text-align: center;
}

@media (min-width: 320px) and (orientation: portrait) {
    header .headerMAINinfo h1 {
        font-size: 56px;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h3 {
        font-size: 13px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        top: 65%;
        font-size: 18px;
    }
}

@media (min-width: 350px) and (orientation: portrait) {

    /*remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 20px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 26px;
    }

    /* WX WITEX */
    header .headerMAINinfo h1 {
        font-size: 64px;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h3 {
        font-size: 15px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 20px;
    }
}


@media (min-width: 370px) and (orientation: portrait) {
    div.attachmendFixedCallButton a i {
        font-size: 1.8rem;
        padding: 15px
    }

    nav ul li a {
        font-size: 22px;
        letter-spacing: 1.5px;
        border: 2px solid white;
    }

    header .headerMAINinfo {
        left: 8%;
    }

    /*remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 20px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 26px;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h3 {
        font-size: 15px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 20px;
    }
}


@media (min-width: 390px) and (orientation: portrait) {

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        bottom: 6%
    }
}

@media (min-width: 400px) and (orientation: portrait) {
    header .headerMAINinfo {
        left: 10%;
    }

    /*remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 22px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 28px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 22px;
        bottom: 6%;
        width: 67%;
    }
}

@media (min-width: 410px) and (orientation: portrait) {
    nav ul li a {
        font-size: 36px;
        border: 2px solid white;
    }

    header .headerMAINinfo {
        left: 10%;
    }

    /*remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 20px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 26px;
    }
}

@media (min-width: 750px) and (orientation: portrait) {
    div.attachmendFixedCallButton a i {
        font-size: 3rem;
        border: 3px solid rgb(255, 255, 255);
        padding: 30px;
    }

    .burger {
        transform: scale(1.5);
    }

    nav ul li a {
        font-size: 42px;
        border: 2px solid white;
    }

    header .headerMAINinfo {
        left: 10%;
    }

    /* slogan remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 41px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 51px;
    }

    /* WX WITEX */
    header .headerMAINinfo h1 {
        font-size: 125px;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h3 {
        font-size: 29px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 29px;
        bottom: 7%;
    }
}

@media (min-width: 912px) and (orientation: portrait) {
    header .headerMAINinfo {
        left: 17%;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {
    nav ul li a {
        font-size: 42px;
        border: 3px solid white;
    }

    header .headerMAINinfo {
        left: 10%;
    }

    /* slogan remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 55px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 68px;
    }

    /* WX WITEX */
    header .headerMAINinfo h1 {
        font-size: 165px;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h3 {
        font-size: 39px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 38px;
        bottom: 7%;
    }
}

@media (orientation: landscape) {
    div.attachmendFixedCallButton {
        bottom: 5%;
        right: 3%;
        width: 10vw;
        height: 10vw;
    }

    div.attachmendFixedCallButton a i {
        font-size: 1.2rem;
        border: 2px solid rgb(255, 255, 255);
        padding: 15px;
    }

    .burger {
        top: 3%;
        right: 0%;
    }

    nav ul li a {
        width: 70%;
        font-size: 22px;
        border: 2px solid white;
    }

    header video {
        left: 50%;
    }

    header img {
        top: 7%;
        left: 10%;
        width: 30%
            /* transform: scale(0.5); */
    }

    header .headerMAINinfo {
        top: 30%;
        left: 10%;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h1 {
        font-size: 62px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 25px;
    }

    /* remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 19px;
    }

    header .headerMAINinfo h3 {
        font-size: 14px;
    }

    header .headerContact {

        font-size: 13px;
        bottom: 10%;
        right: auto;
        left: 5%;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    nav ul li a {
        width: 70%;
        font-size: 22px;
        border: 2px solid white;
    }

    header img {
        width: 20%
    }

    header .headerContact {
        font-size: 13px;
        right: auto;
        left: 10%;
    }
}

@media (min-width: 660px) and (orientation: landscape) {
    nav ul li a {
        font-size: 28px;
        border: 3px solid white;
    }

    /* remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 34px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 43px;
    }

    /* witex */
    header .headerMAINinfo h1 {
        font-size: 105px;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h3 {
        font-size: 25px;
    }

    /* kontakt */
    header .headerContact {
        font-size: 15px;
        right: auto;
        left: 10%;
    }
}

@media (min-width: 844px) and (orientation: landscape) {
    div.attachmendFixedCallButton a i {
        font-size: 2rem;
        border: 3px solid rgb(255, 255, 255);
        padding: 20px;
    }

    nav ul li a {
        font-size: 32px;
        border: 3px solid white;
    }

    .burger {
        top: 3%;
        right: 3%;
    }


    /* kontakt */
    header .headerContact {
        font-size: 19px;
        right: auto;
        left: 10%;
    }
}

@media (min-width: 1000px) and (orientation: landscape) {
    header .headerContact {
        font-size: 23px;
    }
}

@media (min-width: 1107px) and (orientation: landscape) {
    nav {
        left: 50%;
        width: 47%;
        top: 3%;
        height: 94vh;
        border: 2px solid white;
        opacity: 1;
    }

    nav ul li a {
        font-size: 28px;
        border: 3px solid white;
    }

    nav.off {
        top: 3%;
        left: 50%;
        transform: scale(0) translatey(-101%);
        opacity: 0;
    }

    /* remonty nieruchomosci */
    header .headerMAINinfo p {
        font-size: 44px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 55px;
    }

    /* witex */
    header .headerMAINinfo h1 {
        font-size: 135px;
    }

    /* specjalista od wykonczen */
    header .headerMAINinfo h3 {
        font-size: 31px;
    }

    /* kontakt */
    header .headerContact {
        font-size: 27px;
        right: auto;
        left: 10%;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    header .headerContact {
        font-size: 28px;
    }
}

@media (min-width: 1360px) and (orientation: landscape) {
    .attachmendFixedCallButton.active {
        display: block;
    }

    nav {
        left: 60%;
        width: 37%;
        height: 50vh;
        border-radius: 10px;
    }

    nav ul li {
        margin-top: 1vh;
    }

    nav ul li a {
        font-size: 25px;
        padding: 10px;
        border: 2px solid white;
    }

    nav.off {
        top: -100%;
        left: 60%;
        transform: translateX(0);
    }

    header .headerContact {
        font-size: 31px;
    }
}

@media (min-width: 1400px) and (orientation: landscape) {
    nav {
        height: 40vh;
    }
}

section {
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: white;
    text-transform: uppercase;
    background-color: #bcc9c9;
}



footer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5vh 0;
    text-align: center;
}

footer p {
    font-size: 22px;
}

footer p,
footer a {
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
}

footer a {
    cursor: pointer;
    font-size: 22px;
    animation: blickconatact 2s infinite ease-out;
}

@keyframes blickconatact {
    1% {
        color: yellow;
    }

    2% {
        color: red;
    }

    4% {
        color: yellow;
    }

}

footer a:hover {
    color: red;
}

footer .footerInfo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1%;
}

footer .footerInfo.footerSpaceBetween {
    justify-content: center;

}

footer .author {
    margin-right: 3%;
}

@media (orientation: portrait) {

    footer a,
    footer p {
        margin-top: 2vh;
        font-size: 22px;
    }

    .mail {
        font-size: 12px;
    }

    footer .footerInfo {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 370px) and (orientation: portrait) {

    footer a,
    footer p {
        font-size: 27px;
    }

}