@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Mono+One&display=swap');

/* font-family: 'Goldman', cursive; */
/* font-family: 'Turret Road', cursive; */
/* font-family: 'Bungee Inline', cursive; */
/* font-family: 'Audiowide', cursive; */
/* font-family: 'Gruppo', cursive; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Audiowide', cursive; */
/* font-family: 'Rubik Mono One', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontSizeH1: 28px;
    --fontSizeH2: 118px;
    --fontSizeH3: 24px;
    --fontSizeP: 14px;
}

body {
    font-family: 'Goldman', cursive;
    background-color: #231f20;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    left: 0;
}


div.attachmendFixedCallButton {
    position: fixed;
    bottom: 5%;
    right: 7%;
    z-index: 21;
    width: 10vh;
    height: 10vh;
}

div.attachmendFixedCallButton a i {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    font-size: 1.3rem;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
}

.attachmendFixedCallButton.active {
    display: none;
}

/* //burger */
svg {
    position: absolute;
    top: 0%;
    right: 0%;
    max-height: 80px;
    max-width: 80px;
}

.eburger {
    filter: url(#gooeyness);
}

.xSVG {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

@keyframes navArrow {
    1% {
        transform: rotate(-10deg);
    }

    4% {
        transform: rotate(10deg);
    }

    6% {
        transform: rotate(-10deg);
    }

    7% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.xSVG .line {
    stroke-width: 5.5px;
    animation: navArrow 4s infinite ease-out;
}

.plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
}

.plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
}

.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}

.active .xSVG {
    transform: scale(1);
    transition: transform 400ms 350ms;
}

.burger {
    position: fixed;
    top: 3%;
    right: 3%;
    cursor: pointer;
    z-index: 20;
    transition: .2s ease-out;
    text-decoration: none;
}

nav {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;
    transition: .2s linear;
    z-index: 15;
    background: radial-gradient(rgb(133, 123, 123) 0%, #b1b9b9 100%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow: hidden;
}

nav ul {
    list-style: none;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav::after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: -100%;
    left: 2%;
    animation: ulAfterBotLeft 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulAfterBotLeft {
    30% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

nav::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 2%;
    animation: ulBeforeBotRight 2s infinite cubic-bezier(1, 0.48, 0.34, 1.03) alternate-reverse;
}

@keyframes ulBeforeBotRight {
    30% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}


nav ul li {
    margin-top: 5vh;
}

nav ul li:first-child {
    margin-top: 0;
}

nav ul li a {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    display: block;
    padding: 2vh 0;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 19px;
    cursor: pointer;
    transition: .2s;
    z-index: 15;
    background-color: rgba(0, 0, 0, .1);
    border: 2px solid white;

}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    border: 2px solid yellow;
    background-color: rgb(94, 94, 94);
    box-shadow: 0 0 0 3px black, 0 0 0 6px yellow;
}

nav ul li a i {
    margin-right: 20px;
}

nav.off {
    top: 200%;
}

header {
    /* margin-top: 25vh; */
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: white;
    text-transform: uppercase;
    text-align: center
}

header img.makita {
    width: 50%;
    position: absolute;
    top: 7%;
    left: 7%;
}

header img.witex {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%) scale(5) rotate(90deg);
    opacity: .3;
    z-index: -1;
}

header .blackBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: rgba(0, 0, 0, .3);
}

header video {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


header .makita2,
header .strauss {
    display: none;
}

header .headerMAINinfo {
    top: 30%;
    left: 0;
    right: 0%;
    position: absolute;
}

/* jackowiak wiktor */
header .headerMAINinfo h2 {
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Audiowide', cursive;
    background-color: #fc0;
    color: black;
}

header .headerMAINinfo h2 {
    background-color: #fc0;
    color: black;
}

/* WX WITEX */
header .headerMAINinfo h1 {
    font-size: 60px;
    font-family: 'Audiowide', cursive;
}

/* remonty wykonczenia */
header .headerMAINinfo p {
    font-size: 16px;
    font-family: 'Gruppo', cursive;
    letter-spacing: 1.5px;
}

/* skontaktuj sie by zarezerowwac termin */
header .headerContact {
    position: absolute;
    top: 70%;
    left: 4%;
    right: 4%;
    font-size: 16x;
    letter-spacing: 1.5px;
}

@media (min-width: 320px) and (orientation: portrait) {

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 18px;
    }
}

@media (min-width: 350px) and (orientation: portrait) {

    /*remonty i wykończenia */
    header .headerMAINinfo p {
        font-size: 21px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 24px;
    }

    /* WX WITEX */
    header .headerMAINinfo h1 {
        font-size: 78px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 20px;
    }
}

@media (min-width: 370px) and (orientation: portrait) {
    div.attachmendFixedCallButton a i {
        font-size: 1.8rem;
        padding: 15px
    }

    nav ul li a {
        font-size: 22px;
    }

    /*remonty i wykończenia */
    header .headerMAINinfo p {
        font-size: 22px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 25px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 20px;
    }
}

@media (min-width: 410px) and (orientation: portrait) {
    nav ul li a {
        font-size: 34px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 28px;
    }

    /* WX WITEX */
    header .headerMAINinfo h1 {
        font-size: 89px;
    }

    /*remonty i wykończenia */
    header .headerMAINinfo p {
        font-size: 25px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 25px;
        letter-spacing: 2px;
    }
}

@media (min-width: 750px) and (orientation: portrait) {
    div.attachmendFixedCallButton a i {
        font-size: 3rem;
        border: 3px solid rgb(255, 255, 255);
        padding: 30px;
    }

    .burger {
        transform: scale(2);
    }

    nav ul li a {
        font-size: 42px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 45px;
    }

    /* WX WITEX */
    header .headerMAINinfo h1 {
        font-size: 138px;
    }

    /* slogan remonty i wykończenia */
    header .headerMAINinfo p {
        font-size: 41px;
    }

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 29px;
        bottom: 7%;
    }
}

@media (min-width: 1024px) and (orientation: portrait) {

    /* skontaktuj sie by zarezerowwac termin */
    header .headerContact {
        font-size: 42px;
        bottom: 7%;
    }
}

@media (orientation: landscape) {
    div.attachmendFixedCallButton {
        bottom: 5%;
        right: 3%;
        width: 10vw;
        height: 10vw;
    }

    div.attachmendFixedCallButton a i {
        font-size: 1.2rem;
        padding: 15px;
    }

    .burger {
        top: 3%;
        right: 0%;
    }

    nav ul li a {
        width: 70%;
        font-size: 22px;
    }

    header video {
        left: 50%;
    }

    header img.witex {
        width: 100%;
        position: absolute;
        top: 55%;
        left: 60%;
        transform: translate(-60%, -45%) scale(2.0) rotate(0deg);
        opacity: .2;
    }

    header img.makita {
        top: 5%;
        left: 4%;
        width: 300px;
    }

    header .headerMAINinfo {
        top: 30%;
        left: 0;
        right: 0;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 17px;
    }

    /* WX WITEX */
    header .headerMAINinfo h1 {
        font-size: 56px;
    }

    /* remonty i wykończenia */
    header .headerMAINinfo p {
        font-size: 19px;
    }

    header .headerContact {
        font-size: 26px;
        top: auto;
        bottom: 20%;
        right: 4%;
        left: 4%;
    }
}

@media (min-width: 640px) and (orientation: landscape) {

    nav ul li a {
        width: 70%;
        font-size: 22px;
        border: 2px solid white;
    }

    header img {
        width: 20%
    }

    header .headerMAINinfo p {
        font-size: 19px;
    }

    /* remonty i wykończenia */
    header .headerMAINinfo p {
        font-size: 34px;
    }

    /* jackowiak wiktor */
    header .headerMAINinfo h2 {
        font-size: 43px;
    }

    /* witex */
    header .headerMAINinfo h1 {
        font-size: 105px;
    }

    header .headerContact {
        font-size: 20px;
    }
}

@media (min-width: 660px) and (orientation: landscape) {
    nav ul li a {
        font-size: 28px;
        border: 3px solid white;
    }
}

@media (min-width: 844px) and (orientation: landscape) {
    div.attachmendFixedCallButton a i {
        font-size: 2rem;
        border: 3px solid rgb(255, 255, 255);
        padding: 20px;
    }

    nav ul li a {
        font-size: 32px;
        border: 3px solid white;
    }

    .burger {
        top: 3%;
        right: 3%;
    }

    header img.witex {
        transform: translate(-45%, -60%) scale(2.0) rotate(0deg);
    }
}

@media (min-width: 1000px) and (orientation: landscape) {
    header .headerContact {
        font-size: 23px;
    }

    header img.witex {
        transform: translate(-55%, -70%) scale(2.0) rotate(0deg);
    }

    header .makita2,
    header .strauss {
        display: block;
        position: absolute;
    }

    header img.makita {
        top: 5%;
        left: 7%;
        width: 250px;

    }

    header .makita2 {
        left: 50%;
        transform: translatex(-50%);
    }

    header .strauss {
        width: 100px;
        position: absolute;
        top: 5%;
        right: 10%
    }
}

@media (min-width: 1107px) and (orientation: landscape) {
    nav {
        left: 50%;
        width: 47%;
        top: 3%;
        height: 94vh;
        border: 2px solid white;
        opacity: 1;
    }

    nav ul li a {
        font-size: 28px;
        border: 3px solid white;
    }

    nav.off {
        top: 3%;
        left: 50%;
        transform: scale(0) translatey(-101%);
        opacity: 0;
    }

    /* kontakt */
    header .headerContact {
        font-size: 27px;
        right: 17%;
        bottom: 12%;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    header .headerContact {
        font-size: 28px;

    }
}

@media (min-width: 1360px) and (orientation: landscape) {
    .attachmendFixedCallButton.active {
        display: block;
    }

    nav {
        left: 60%;
        width: 37%;
        height: 50vh;
        border-radius: 10px;
    }

    nav ul li {
        margin-top: 1vh;
    }

    nav ul li a {
        font-size: 25px;
        padding: 10px;
        border: 2px solid white;
    }

    nav.off {
        top: -100%;
        left: 60%;
        transform: translateX(0);
    }

    header .headerContact {
        font-size: 28px;
        bottom: 12%
    }
}

@media (min-width: 1400px) and (orientation: landscape) {
    nav {
        height: 40vh;
    }

    header .headerContact {
        font-size: 28px;
        left: 0;
        right: 0;
        text-align: center;
    }

}

#oferta {
    min-height: 100vh;
    overflow: hidden;
    background-color: #231f20;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5vh 0 0;
}

.nazwaSekcji {
    font-weight: 600;
    font-size: 40px;
    text-decoration: overline;
    text-transform: uppercase;
    padding: 0 0 4vh 10%;
    text-align: left;
}

#oferta table {
    width: 85%;
    margin: 0 auto 5vh;
    border-collapse: collapse;
    border: 2px solid black;
    box-shadow: none;
}

#oferta caption {
    font-size: 16px;
    padding: 20px 15px;
    letter-spacing: 2px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 0 3px rgb(0, 0, 0), 0 0 0 6px #231f20, 0 0 0 10px rgb(0, 0, 0);
}

#oferta caption:hover {
    background-color: #fc0;
    color: black;
}

/* zakres i przedmiot uslug wiersz */
#oferta thead tr {
    color: #fff;
    background-color: black;
    /* padding: 0 5%; */
}

/* zakres i przedmiot uslug pole wiersza*/
#oferta thead tr th {
    padding: 10px 0;

}

/* wiersze cennika */
#oferta tbody tr {
    background-color: #eee;
    color: rgb(0, 0, 0);
}

#oferta tr:nth-child(even) {
    background: #ccc;
}

#oferta tbody tr:hover {
    background: #fc0;
}

/* wiersz cennika pole wiersza */
#oferta td {
    text-align: center;
}

#oferta td:nth-child(1) {
    padding: 8px 1px 8px 5px;
}

#oferta td:nth-child(2) {
    padding: 8px 0;
}

#oferta td:nth-child(3) {
    padding: 8px 5px 8px 0px;
}

tfoot {
    background-color: #eee;
    height: 5%;
}

#oferta caption.hideTable {
    border-radius: 10px;
}

thead,
tbody,
tfoot {
    opacity: 1;
    transition: 1s;
    height: 100%;
}

thead.hideTable,
tbody.hideTable,
tfoot.hideTable {
    opacity: 0;
    height: 0;
    display: none;
}

/* ramka do cennika */
#oferta table.hideTable {
    box-shadow: 0 0 0 3px rgb(0, 0, 0), 0 0 0 6px #231f20, 0 0 0 10px rgb(0, 0, 0);
    /* width: 80% */
}

#oferta p {
    margin: 10%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#oferta p span {
    color: yellow;
}

.blackTable {
    background-color: black;
    color: white;
}

#oferta .nineth {
    margin-bottom: 0;
}

div.trojkat {
    clip-path: polygon(100% 50%, 0% 102%, 100% 102%);
    background-color: #474141;
    width: 100%;
    height: 15vh;
    display: block;
}

@media (min-width: 350px) and (orientation: portrait) {

    #oferta table {
        width: 90%;
    }

    #oferta caption {
        font-size: 17px;
    }

    #oferta td:nth-child(1) {
        padding: 9px
    }

    #oferta td:nth-child(2) {
        padding: 9px 0;
    }

    #oferta td:nth-child(3) {
        padding: 5px;
    }
}

@media (min-width: 410px) and (orientation: portrait) {
    #oferta caption {
        font-size: 28px;
    }

    #oferta table {
        font-size: 19px
    }
}

@media (min-width: 750px) and (orientation: portrait) {
    #oferta p {
        margin: 5%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 32px;
    }

    #oferta caption {
        font-size: 30px
    }

    #oferta td:nth-child(1),
    #oferta td:nth-child(2),
    #oferta td:nth-child(2) {
        padding: 10px
    }

}

@media (orientation: landscape) {
    #oferta table {
        font-size: 20px;
        width: 70%;
    }


    #oferta caption {
        font-size: 30px
    }

    #oferta td:nth-child(1),
    #oferta td:nth-child(2),
    #oferta td:nth-child(2) {
        padding: 20px
    }

    #oferta p {
        margin: 5%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 32px;
    }
}

@media (min-width: 1000px) and (orientation: landscape) {
    #oferta table {
        width: 50%;
    }

    #oferta caption {
        font-size: 29px
    }

}

/* galeria */
#galeria {
    min-height: 100vh;
    overflow: hidden;
    background-color: #474141;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    /* font-family: 'Orbitron', sans-serif; */
    padding: 5vh 0;
    min-height: 100vh;

    /* position: relative; */
}

#galeria .reklama {
    /* padding: 5vh 5%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
}

#galeria .reklama .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

#galeria .reklama .left i {
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 50px;
    color: #9c9a9b;
}


#galeria .reklama .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

#galeria .reklama .right i {
    position: absolute;
    right: 5%;
    top: 50%;
    font-size: 50px;
    color: #9c9a9b;
}

#galeria .reklama .img {
    position: relative
}

#galeria .reklama .img img {
    display: block;
    width: 100vw;
    border-bottom: 2px dashed black;
    padding: 7vh 0 5vh;

}

#galeria .reklama .img .dots {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#galeria .reklama .img .dots div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

#galeria .reklama .img .dots.active {
    background-color: black;
    box-shadow: 0px 0px 3px 4px white;
}

#galeria .hiddenGallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    font-size: 0;
}

#galeria .hiddenGallery.hidden {
    display: none;
}

#galeria .hiddenGallery a {
    flex-basis: 25%;
}

#galeria .hiddenGallery a img {
    width: 100%;
}



#galeria .btnGallery {
    width: 60%;
    margin: 0 auto 5vh;

    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .4);
    border: 2px solid black;
    cursor: pointer;
}

#galeria .btnGallery:hover {
    background: #fc0;
    color: black;
}

@media (min-width: 320px) and (orientation: portrait) {}

@media (min-width: 320px) and (orientation: portrait) {}










footer {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5vh 0;
    text-align: center;
}

footer p {
    font-size: 22px;
}

footer p,
footer a {
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
}

footer a {
    cursor: pointer;
    font-size: 22px;
    animation: blickconatact 2s infinite ease-out;
}

@keyframes blickconatact {
    1% {
        color: yellow;
    }

    2% {
        color: red;
    }

    4% {
        color: yellow;
    }

}

footer a:hover {
    color: red;
}

footer .footerInfo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1%;
}

footer .footerInfo.footerSpaceBetween {
    justify-content: center;

}

footer .author {
    margin-right: 3%;
}

@media (orientation: portrait) {

    footer a,
    footer p {
        margin-top: 2vh;
        font-size: 22px;
    }

    .mail {
        font-size: 12px;
    }

    footer .footerInfo {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 370px) and (orientation: portrait) {

    footer a,
    footer p {
        font-size: 27px;
    }

}